[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest
[submodule "test/gtest-mpi-listener"]
	path = test/gtest-mpi-listener
	url = https://github.com/LLNL/gtest-mpi-listener
[submodule "lib/gsl"]
	path = lib/gsl
	url = https://github.com/microsoft/GSL
