[submodule "test/googletest"]
	path = test/unit/googletest
	url = https://github.com/google/googletest
[submodule "test/gtest-mpi-listener"]
	path = test/unit/gtest-mpi-listener
	url = https://github.com/LLNL/gtest-mpi-listener
